/* src/index.css */
.dashimg {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), 
    url("https://media.istockphoto.com/id/2153911345/photo/bedroom.webp?a=1&b=1&s=612x612&w=0&k=20&c=7jSPLQe-4lho8DDlZhKLW889MH6GJ7DLDCTWmXRgz_c="); /* Example image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
