/* src/index.css */
.dashimg {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), 
    url("https://sdmntprwestus3.oaiusercontent.com/files/00000000-0530-61fd-8a50-0e646a24751f/raw?se=2025-07-08T08%3A39%3A10Z&sp=r&sv=2024-08-04&sr=b&scid=09ad70ef-8510-5cb3-96f9-bb4f356130a6&skoid=b0fd38cc-3d33-418f-920e-4798de4acdd1&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-08T07%3A30%3A41Z&ske=2025-07-09T07%3A30%3A41Z&sks=b&skv=2024-08-04&sig=/hvEDQUYKDktcGHXS6QOgq25CCTRwLe1abHTL8kAm1o%3D"); /* Example image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
