/* src/index.css */
.dashimg {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), 
    url("https://sdmntprwestus3.oaiusercontent.com/files/00000000-0530-61fd-8a50-0e646a24751f/raw?se=2025-07-09T06%3A10%3A51Z&sp=r&sv=2024-08-04&sr=b&scid=0e4137bf-511b-53f0-90ff-b5522503685b&skoid=add8ee7d-5fc7-451e-b06e-a82b2276cf62&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-08T21%3A10%3A03Z&ske=2025-07-09T21%3A10%3A03Z&sks=b&skv=2024-08-04&sig=T0HzLT0ht4FpMb7q3Kun8ZTqq/%2Bqo2bP9TgdKF2H1nY%3D"); /* Example image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
